.aboutHeadingdiv{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.aboutHeadingdiv h1{
  padding: 3px 0px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.emptydiv4{
  background-color: #fff;
  border-radius: 22px;
  height: 5px;
  margin-right: 98px;
  width: 6%;
}
.aboutmain{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0px;
  margin-bottom: 100px;
}
.aboutmain h1{
  color: white;
  padding: 3px 0px;
}
.aboutmain p{
  width: 60%;
  color: white;
  text-align: center;
}

.youtubeDiv{
  /* border: 2px solid black; */
  margin: 50px auto;
  width: 60%;
  height: 500px;
}
.youtubeDiv img{
  width: 100%;
  height: 100%;
}

.rectangleImg{
  /* border: 1px solid green; */
  width: 100%;
  height: 98%;
}

@media (max-width:430px){
  .aboutHeadingdiv h1{
    padding: 3px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
  }
  .aboutmain h1{
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 3px 5px;
  }
  .aboutmain p{
    width: 85%;
    color: white;
    text-align:center;
  }
  .emptydiv4{
    background-color: #fff;
    border-radius: 22px;
    height: 5px;
    margin-right: 58px;
    width: 16%;
  }
  .youtubeDiv{
    /* border: 2px solid black; */
    margin: 50px auto;
    width: 85%;
    height: 200px;
  }
  .youtubeDiv img{
    width: 100%;
    height: 100%;
  }
  .rectangleImg{
    /* border: 1px solid green; */
    width: 100%;
    height: 95%;
  }
}
@media (min-width:769px) and (max-width:999px){
  .aboutmain p{
    width: 80%;
    color: white;
    text-align:justify;
  }
  .emptydiv4{
    background-color: #fff;
    border-radius: 22px;
    height: 5px;
    margin-right: 98px;
    width: 8%;
  }
  .youtubeDiv{
    border: 2px solid black;
    margin: 50px auto;
    width: 80%;
    height: 450px;
  }
  .youtubeDiv img{
    width: 100%;
    height: 100%;
  }
}

@media (min-width:600px) and (max-width:799px){
  .aboutmain p{
    width: 90%;
    color: white;
    text-align:center;
  }
  .emptydiv4{
    background-color: #fff;
    border-radius: 22px;
    height: 5px;
    margin-right: 98px;
    width: 8%;
  }
  .youtubeDiv{
    border: 2px solid black;
    margin: 50px auto;
    width: 80%;
    height: 400px;
  }
  .youtubeDiv img{
    width: 100%;
    height: 100%;
  }
}
@media (min-width:431px) and (max-width:599px){
  .aboutmain p{
    width: 90%;
    color: white;
    text-align:center;
  }
  .aboutmain h1{
    font-size: 30px;
    padding: 3px 10px;
    color: white;
    text-align:center;
  }
  .emptydiv4{
    background-color: #fff;
    border-radius: 22px;
    height: 5px;
    margin-right: 98px;
    width: 8%;
  }
  .youtubeDiv{
    border: 2px solid black;
    margin: 50px auto;
    width: 80%;
    height: 300px;
  }
  .youtubeDiv img{
    width: 100%;
    height: 100%;
  }
}