.privacy {
  background-image: url("../../asset/img/privacy/wieghtLiftingNew.png");
  
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
@media (max-width:1100px){
  .privacy{display: none;}
  .privacy2{display: block !important;}
  .privacy2 img{
    width: 100%;
    height: auto;
  }
}